<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/presearcher.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/presearcher.js" defer></script>
    <title>Presearcher</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Presearcher</h1>
            </div>
        </div>

        <div class="row top-buttons">

            <div class="col-md-10">

                <form class="form-inline">

                    <label for="profileSelected" class="control-label mb-2 mr-sm-2">Profile:</label>
                    <select class="form-control mb-2 mr-sm-2" id="profileSelected">
                        {% for profile in profiles%}
                            <option>{{ profile }}</option>
                        {% endfor %}
                    </select>
                    <button id="fetchSubmit" type="button" class="btn btn-primary mb-2 mr-sm-2">Fetch!</button>

                </form>

            </div>

            <div class="col-md-2">

                <a class="btn btn-outline-secondary" href="new_profile" role="button">Create Profile</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="results-container">
                <div id="placeholder">Results go here!</div>
            </div>
        </div>
    </div>
    <div class="col-md-1 gutter"></div>
</div>

</body>
</html>
