<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/presearcher.css">
    <link rel="stylesheet" href="/css/bootstrap-min.css">
    <script type="text/javascript" src="/js/jquery-min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/presearcher.js" defer></script>
    <title>Presearcher</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Presearcher</h1>
            </div>
        </div>

        <div class="row top-buttons">

            <div class="col-md-8">

                <form class="form-inline">

                    <label for="profileSelected" class="control-label mb-2 mr-sm-2">Profile:</label>
                    <select class="form-control mb-2 mr-sm-2" id="profileSelected">
                        {% for profile in profiles%}
                            <option>{{ profile }}</option>
                        {% endfor %}
                    </select>

                    <button id="fetchSubmit" type="button" class="btn btn-primary mb-2 mr-sm-2">Fetch!</button>

                    <button id="reScoreSubmit" type="button" class="btn btn-primary mb-2 mr-sm-2">Re-Score</button>

                </form>

            </div>

            <div class="col-md-4">

                <a class="btn btn-outline-secondary" href="subscriptions" role="button">Subscriptions</a>
                <a class="btn btn-outline-secondary" href="new_profile" role="button">Create Profile</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="results-container">
                <div id="placeholder">Results go here!</div>
            </div>
        </div>
    </div>
    <div class="col-md-1 gutter"></div>
</div>

</body>
</html>
