<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/presearcher.css">
    <link rel="stylesheet" href="/css/bootstrap-min.css">
    <script type="text/javascript" src="/js/jquery-min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/presearcher.js" defer></script>
    <title>Presearcher - Create Profile</title>
</head>
<body>

<div class="row fullwrapper">

    <div class="col-md-1 gutter"></div>

    <div class="col-md-10 pagewrapper">

        <div class="row title-bar">
            <div class="col-md-12">
                <a href="/">
                    <img id="ml-logo" src="/img/microscope.png" height="60">
                </a>
                <h1 id="ml-title">Presearcher - Create Profile</h1>
            </div>
        </div>

        <div class="row main-content">

            <div class="col-md-4"></div>

            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="profileName">Profile Name</label>
                        <input type="text" class="form-control" id="profileName">
                    </div>
                </form>
                <button id="createProfileSubmit" type="submit" class="btn btn-primary mb-2 mr-sm-2">Submit</button>
            </div>

            <div class="col-md-4"></div>

        </div>
    </div>
    <div class="col-md-1 gutter"></div>
</div>

</body>
</html>
